.container {
    margin-top: 20px;
    margin-bottom: 40px;
}

.border-secondary {
    border-color: #d6d6d6!important;
}

.mat-tab-labels {
    padding: 10px;
}

.mat-tab-label-content {
    background: inherit;
    color: black
}
.ag-theme-balham .ag-header-row, .ag-theme-balham .ag-header{
    background-color: #fff;
}

.ag-theme-balham .ag-root {
    border: 1px solid #fff;
}