<div class="purcesDetais">
  <!-- <div>
        <ul class="breadcrumb">
            <li><a href="#">Manage Transaction</a></li>
            <li><a href="#">Manage Reservation</a></li>
          </ul>
    </div> -->

  <Form-widget [config]='widgetData'></Form-widget>
  <div class="container-fluid border border-secondary rounded-sm mt-4 bg-white" style="margin-bottom: 40px;">
    <div style="padding: 10px 0 0 10px;">
      Line Details
      <p style="float: right;">
        <a class="barcodeIcon" (click)="barCodePopUp()">
          <svg id="barcode" xmlns="http://www.w3.org/2000/svg" width="18.513" height="14.81" viewBox="0 0 18.513 14.81">
            <g id="Group_3168" data-name="Group 3168">
              <g id="Group_3167" data-name="Group 3167">
                <path id="Path_208" data-name="Path 208"
                  d="M3.085,48H.617A.617.617,0,0,0,0,48.617v2.468a.617.617,0,0,0,1.234,0V49.234H3.085a.617.617,0,0,0,0-1.234Z"
                  transform="translate(0 -48)" fill="#6f7d8e" />
              </g>
            </g>
            <g id="Group_3170" data-name="Group 3170" transform="translate(14.81 11.108)">
              <g id="Group_3169" data-name="Group 3169">
                <path id="Path_209" data-name="Path 209"
                  d="M387.085,336a.617.617,0,0,0-.617.617v1.851h-1.851a.617.617,0,1,0,0,1.234h2.468a.617.617,0,0,0,.617-.617v-2.468A.617.617,0,0,0,387.085,336Z"
                  transform="translate(-384 -336)" fill="#6f7d8e" />
              </g>
            </g>
            <g id="Group_3172" data-name="Group 3172" transform="translate(14.81)">
              <g id="Group_3171" data-name="Group 3171">
                <path id="Path_210" data-name="Path 210"
                  d="M387.085,48h-2.468a.617.617,0,1,0,0,1.234h1.851v1.851a.617.617,0,0,0,1.234,0V48.617A.617.617,0,0,0,387.085,48Z"
                  transform="translate(-384 -48)" fill="#6f7d8e" />
              </g>
            </g>
            <g id="Group_3174" data-name="Group 3174" transform="translate(0 11.108)">
              <g id="Group_3173" data-name="Group 3173">
                <path id="Path_211" data-name="Path 211"
                  d="M3.085,338.468H1.234v-1.851a.617.617,0,0,0-1.234,0v2.468a.617.617,0,0,0,.617.617H3.085a.617.617,0,0,0,0-1.234Z"
                  transform="translate(0 -336)" fill="#6f7d8e" />
              </g>
            </g>
            <g id="Group_3176" data-name="Group 3176" transform="translate(2.468 2.468)">
              <g id="Group_3175" data-name="Group 3175">
                <rect id="Rectangle_112" data-name="Rectangle 112" width="1.234" height="9.873" fill="#6f7d8e" />
              </g>
            </g>
            <g id="Group_3178" data-name="Group 3178" transform="translate(4.937 2.468)">
              <g id="Group_3177" data-name="Group 3177">
                <rect id="Rectangle_113" data-name="Rectangle 113" width="1.234" height="7.405" fill="#6f7d8e" />
              </g>
            </g>
            <g id="Group_3180" data-name="Group 3180" transform="translate(7.405 2.468)">
              <g id="Group_3179" data-name="Group 3179">
                <rect id="Rectangle_114" data-name="Rectangle 114" width="1.234" height="7.405" fill="#6f7d8e" />
              </g>
            </g>
            <g id="Group_3182" data-name="Group 3182" transform="translate(9.873 2.468)">
              <g id="Group_3181" data-name="Group 3181">
                <rect id="Rectangle_115" data-name="Rectangle 115" width="1.234" height="9.873" fill="#6f7d8e" />
              </g>
            </g>
            <g id="Group_3184" data-name="Group 3184" transform="translate(12.342 2.468)">
              <g id="Group_3183" data-name="Group 3183">
                <rect id="Rectangle_116" data-name="Rectangle 116" width="1.234" height="7.405" fill="#6f7d8e" />
              </g>
            </g>
            <g id="Group_3186" data-name="Group 3186" transform="translate(14.81 2.468)">
              <g id="Group_3185" data-name="Group 3185">
                <rect id="Rectangle_117" data-name="Rectangle 117" width="1.234" height="9.873" fill="#6f7d8e" />
              </g>
            </g>
            <g id="Group_3188" data-name="Group 3188" transform="translate(4.937 11.108)">
              <g id="Group_3187" data-name="Group 3187">
                <rect id="Rectangle_118" data-name="Rectangle 118" width="1.234" height="1.234" fill="#6f7d8e" />
              </g>
            </g>
            <g id="Group_3190" data-name="Group 3190" transform="translate(7.405 11.108)">
              <g id="Group_3189" data-name="Group 3189">
                <rect id="Rectangle_119" data-name="Rectangle 119" width="1.234" height="1.234" fill="#6f7d8e" />
              </g>
            </g>
            <g id="Group_3192" data-name="Group 3192" transform="translate(12.342 11.108)">
              <g id="Group_3191" data-name="Group 3191">
                <rect id="Rectangle_120" data-name="Rectangle 120" width="1.234" height="1.234" fill="#6f7d8e" />
              </g>
            </g>
          </svg>
        </a>
      </p>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12 pt-3">
        <ejs-grid #grid [dataSource]='data' [editSettings]='editSettings' allowSorting="true"
          [pageSettings]='pageSettings' height="320" (dataBound)='dataBound()' (created)='created()' (load)='load()'>
          <e-columns>
            <e-column type='checkbox' [allowFiltering]='false' [allowSorting]='false' width='40'></e-column>
            <e-column headerText='Item Number' field='ItemNumber' textAlign='center' width='100'>
              <!-- <ng-template #template let-data>
                  <div class="image">
                    <ngx-barcode [bc-format]="CODE128" [bc-height]="30" [bc-width]="2" [bc-value]="data.ItemNumber"
                      [bc-display-value]="false"></ngx-barcode>
                  </div>
  
                </ng-template> -->
            </e-column>
            <e-column field='Description' headerText='Description' width='100'></e-column>
            <!-- <e-column field='AisleNumber' headerText='Aisle Number' width='100'></e-column>
              <e-column field='RackNumber' headerText='Rack Number' width='100'></e-column>
              <e-column field='BinNumber' headerText='Bin Number' width='100'></e-column> -->
            <e-column field='StorageBin' headerText='Storage Bin' width='100'></e-column>
            <e-column field='UOM' headerText='UOM' width='80'></e-column>
            <e-column field='OnHandQty' headerText='Physical Quantity' width='100'>
              <ng-template #template let-data>
                <input type="text" placeholder="On-Hand Qty" value="{{data.OnHandQty}}">
              </ng-template>
            </e-column>
            <e-column headerText='    ' width='20'>
              <ng-template #template let-data>
                <i style="cursor: pointer;" class="fa fa-trash" aria-hidden="true"></i>
              </ng-template>
            </e-column>
            
            
            


            <!-- <e-column field='SBin' headerText='S. Bin' width='80'></e-column> -->
          </e-columns>
        </ejs-grid>

      </div>
    </div>
  </div>
</div>
<footer class="poFooter bg-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-white text-uppercase rounded-0">
          <!-- Print Preview -->
        </button>
      </div>
      <div class="col-sm-5 text-right">
        <button class="btn btn-white text-uppercase rounded-0">
          Cancel
        </button>
        <!-- <button (click)="print()"  class="btn btn-primary text-white text-uppercase shadow rounded-0">
            Print Barcode
          </button>
          <button (click)="printRfid()"  class="btn btn-primary text-white text-uppercase shadow rounded-0" style="color: white;">
            Print RFID Tags
          </button> -->
        <button [routerLink]="['/manageCycleCountRequests']"
           class="btn btn-primary text-white text-uppercase shadow rounded-0" style="color: white;">
          Counted
        </button>
      </div>
    </div>
  </div>
</footer>
