header {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  border-bottom: 1px solid gainsboro;
  box-shadow: 0px 2px gainsboro;
  /* padding-top: 20px; */
}

.notification, .app {
  width: 20px;
}

.userprofile{
  width: 55px;
  transform: translateY(-13px);
}

.logo{
  width: 84px;
}

.menu{
  width: 20px;
}
/* 
input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  button{
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  } */

input {
  align-items: center;

}

.search {
  display: flex;
  height: 45px;
  background: no-repeat padding-box #fff;
  overflow: hidden;
  border: 2px solid #ebedf2;
  border-radius: 2px;
  width: 30vw;
  border-right: 0;
}

input.form-control.search:focus {
  -webkit-box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.2);
}

.barcodeIcon svg {
  transform: translate(30px, 10px);
}

header .container-fluid {
  margin-top: 0px !important;
}

.account-details {
  position: fixed;
  height: 25rem;
  width: 20rem;
  z-index: 10;
  top: 77px;
  right: 6px;
  background: white;
  box-shadow: -1px 0px 5px 3px rgba(0, 0, 0, 0.36);

}

.microphone {
  position: absolute;
  display: flex;
  z-index: 999;
  transform: translate(-30px, 10px);
}

.camera img {
  transform: translate(15px, 9px);
}

.camera img {
  width: 27px;
}
