<header>
  <div style="margin: auto 0;flex: 1;min-width: 12rem;">
    <img style="height: 30px;padding: 0 10px;" (click)="toggle()"
      src="https://img.icons8.com/material-rounded/384/000000/menu.png">
    <img style="height: 30px;" (click)="openDialog()"
      src="https://gepmtstorage.blob.core.windows.net/smart2ux/Demo/inv-demo-blob/dist/assets/1.jpg">
  </div>
  <div style="flex: 1;display: flex;min-width: 30rem">
    <input class="search" [(ngModel)]="barcodeValue" style="height: 30px;width: 100%;padding-left: 10px;font-size: 12px;"
      type="text" name="search" placeholder="Search..">
    <div style="position: relative;;">
      <div style="right: 0px;
      display: flex;
      position: relative;
      left: -61px;">
        <img class="search-img" style="height: 30px;width: 30px;"
          src="https://img.icons8.com/android/96/000000/microphone.png">
        <a (click)="onSearchClick()" > <img class="search-img" style="height: 30px;width: 30px;background: blue;"
            src="../../assets/search-26242.png">
        </a>
        <a routerLink='/packingslipcamera'><img class="search-img" style="height: 30px;width: 30px;"
            src="https://img.icons8.com/small/96/000000/camera.png"></a>

        <img class="search-img" style="height: 30px;width: 30px;" (click)="open()"
          src="https://img.icons8.com/wired/64/000000/barcode-scanner.png">
      </div>
    </div>
  </div>
  <div style="flex: 1;min-width: 8rem;">
    <div (click)="popup=!popup" class="people"
      style="    margin-right: 1rem;
      height: 50px;width: 50px;border-radius: 25px;float: right;background-size: cover;background-image: url('https://gepmtstorage.blob.core.windows.net/smart2ux/Demo/inv-demo-blob/dist/assets/people.jpg')">
    </div>
    <img style="height: 22px;margin-top: 14px;float: right;margin-right: 14px;"
      src="https://img.icons8.com/material-rounded/96/000000/squared-menu.png">
    <img style="height: 22px;margin-top: 14px;float: right;margin-right: 14px;"
      src="https://img.icons8.com/material-sharp/96/000000/appointment-reminders.png">
  </div>
  <!-- <div *ngIf="popup" class="account-details">
    
  </div> -->
</header>
