<header>
  <div style="margin: auto 0;flex: 1;min-width: 12rem;">
    <img style="height: 30px;padding: 0 10px;" src="https://img.icons8.com/material-rounded/384/000000/menu.png">
    <img style="height: 30px;" src="../../assets/1.jpg">
  </div>
  <div style="flex: 1;display: flex;min-width: 30rem">
    <input class="search" style="height: 30px;width: 100%;padding-left: 10px;" type="text" name="search" placeholder="Search..">
    <div style="position: relative;;">
      <div style="right: 0px;
      display: flex;
      position: relative;
      left: -61px;
  ">
  
        <img class="search-img" style="height: 22px;" src="https://img.icons8.com/android/96/000000/microphone.png">
      
        
        <img class="search-img" style="height: 22px;background: blue;" src="https://img.icons8.com/ios-glyphs/480/000000/search.png">
        <img class="search-img" style="height: 22px;" src="https://img.icons8.com/small/96/000000/camera.png">
      
        <img class="search-img" style="height: 22px;" src="https://img.icons8.com/wired/64/000000/barcode-scanner.png">
      

      </div>
    </div>

  </div>
  <div style="flex: 1;min-width: 8rem;">
    <div style="height: 50px;width: 50px;border-radius: 25px;float: right;background-size: cover;background-image: url('../../assets/people.jpg')">

    </div>
    <img style="height: 22px;margin-top: 14px;float: right;margin-right: 14px;" src="https://img.icons8.com/material-rounded/96/000000/squared-menu.png">
    <img style="height: 22px;margin-top: 14px;float: right;margin-right: 14px;" src="https://img.icons8.com/material-sharp/96/000000/appointment-reminders.png">
  </div>
</header>

