header {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  border-bottom: 1px solid gainsboro;
  box-shadow: 0px 2px gainsboro;
  /* padding-top: 20px; */
}

.notification {
  width: 20px;
  height: 22px;
}

.app {
  width: 17px;
  height: 16px;
}

.userprofile {
  width: 55px;
  transform: translateY(-13px);
}

.logo-roche {
  /* width: 84px; */
  height: 30px;
}

.logo-delpharm {
  width: 120px;
  /* height: 45px; */
}

.menu {
  width: 18px;
  height: 15px;
}


/* 
input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  button{
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  } */

input {
  align-items: center;

}

.input-group-prepend {
  margin-right: -1px;
  width: 50px;
  height: 45px;
}

.search {
  display: flex;
  height: 38px;
  background: no-repeat padding-box #fff;
  overflow: hidden;
  border: 2px solid #ebedf2;
  border-radius: 2px;
  width: 121px;
  border-right: 0;
  font-size: 15px;
  font-family: 'Roboto Regular';
}

input.form-control.search:focus {
  -webkit-box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.2);
}

.barcodeIcon svg {
  transform: translate(30px, 10px);
}

header .container-fluid {
  margin-top: 0px !important;
}

.account-details {
  position: fixed;
  height: 25rem;
  width: 20rem;
  z-index: 10;
  top: 77px;
  right: 6px;
  background: white;
  box-shadow: -1px 0px 5px 3px rgba(0, 0, 0, 0.36);

}

.microphone {
  position: absolute;
  display: flex;
  z-index: 999;
  transform: translate(-30px, 10px);
}

.camera img {
  transform: translate(15px, 9px);
}

.camera img {
  width: 21px;
}

.notification-box {
  position: fixed;
  height: calc(100% - 60px);
  width: 380px;
  width: fit-content;
  z-index: 10;
  top: 45px;
  right: 148px;
}

.chat {
  width: 18px;
  height: 16px;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: absolute;
  left: -172px;
  top: 10px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.quaggaContainer {
  max-width: 100%;
  max-height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 18px;
  z-index: 10
}

.quaggaBox {
  left: 65%;
  top: 120px;
  position: relative;
}

.quaggaClose {
  position: absolute;
  right: 10px;
  background: transparent;
  top: 10px;
  border: none;
}

.quaggaClose:focus {
  outline: none;
}

.header_left_container {
  padding: 0px;
  height: inherit;
  display: flex;
  align-items: center;
}

.left_container_list {
  padding: 0px 20px;
  line-height: 60px;
  color: #5B5B5B;
  font-size: 16px;
  font-family: 'Roboto Medium';
  cursor: pointer;
}

.projectListActive {
  background: #32588D;
  color: white;
}

.more-List {
  position: relative;
}

.more-List::before {
  content: ' ';
  border-left: 1px solid;
  position: absolute;
  left: 0px;
  top: 15px;
  height: 30px;
  font-size: 25px;
  color: #E0E0E0;
}

/* .nav-item.nav-notification::after {
  content: ' ';
    position: absolute;
    background: #075082;
    padding: 8px;
    transform: rotate(45deg);
    top: calc(100% + 6px);
    left: calc(50% - 9px);
    z-index: 2;
} */

.nav-item .nav-notification-active {
  background: #DEEAFE;
  border-radius: 50%;
}
