<div style="min-width: 100%; margin-top: 10px;" class="container">
  <div style="min-width: 100%; padding: 0px 20px;" class="container">
    <div class="row">
      <div class="col-9">
        <div>
          <span class="text-primary">Home / Manage Transactions</span>
        </div>
        <h2>Manage Packing Slips</h2>
      </div>
      <div class="col-3" style="margin: auto;">
        <button type="button" class="btn btn-primary" style="float: right; min-width: 110px;">
          <i class="fa fa-upload" aria-hidden="true" style="padding-right: 7px;"></i><span>Upload Files</span>
        </button>
      </div>
    </div>
    <app-unprocessed-packing-slips></app-unprocessed-packing-slips>
    <app-packing-slips-tab></app-packing-slips-tab>
  </div>
</div>