<div style="min-width: 100%; margin-top: 10px;" class="container">
  <div style="min-width: 100%; padding: 0px 20px;" class="container">
    <div class="row">
      <div class="col-9">
        <div>
          <span class="text-primary">Home / Manage Transactions / Manage Packing Slip</span>
        </div>
        <h2>Scanned Document</h2>
      </div>
    </div>
    <app-scanned-document-view></app-scanned-document-view>
    <app-scanned-document-line-items></app-scanned-document-line-items>
  </div>
</div>