<div>
  <div class="row" style="padding: 4px; margin: unset;">
    <div style="padding: 16px;" class="col-sm-2" *ngFor="let item of data.data" [ngClass]="item.classes">
      <div style="color: #a3a3a3; font-size: 12px;">{{ item.name }}</div>
      <div *ngIf="item.type=='text'">{{ item.values }}</div> 
      <div class="input-box" *ngIf="item.type=='textbox'">
        <input class="input" placeholder="Favorite food" [value]="item.values">
      </div>
    </div>
  </div>
  <div class="" style="width: 100%; ">
    <ng-container #subDetails></ng-container>
  </div>
</div>
