<div style="min-width: 100%; margin-top: 10px;" class="container">
  <div style="min-width: 100%; padding: 0px 20px;" class="container">
    <div class="row">
      <div class="col-9">
        <div>
          <span class="text-primary">Manage Transactions</span>
        </div>
        <h2>Manage Material Requests</h2>
      </div>
      <div class="col-3" style="margin: auto;">
        <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" style="float: right; min-width: 100px;">
          <i class="fa fa-filter" aria-hidden="true" style="padding-right: 7px;"></i><span>Filter</span>
        </button>
      </div>
    </div>
    <div id="collapseExample" [ngbCollapse]="isCollapsed">
      <app-filter></app-filter>
    </div>

    <div class="container-fluid border border-secondary rounded-sm mt-4 bg-white" style="margin-bottom: 40px;">
      <div class="row">
        <div class="col-sm-12 pt-3">
          <h6>Line View</h6>
          <hr>
          <div class="control-section">
            <ejs-grid #grid [dataSource]='data' allowPaging='true' allowSorting="true" [pageSettings]='pageSettings'
              height="320" (dataBound)='dataBound()' (created)='created()' (load)='load()'>
              <e-columns>
                <e-column type='checkbox' [allowFiltering]='false' [allowSorting]='false' width='40'></e-column>
                <e-column field='materialRequest' headerText='Item Number' textAlign='Right' width='100'></e-column>
                <e-column field='materialRequestName' headerText='Item Name' width='100'></e-column>
                <e-column field='documentDate' headerText='Reservation' width='100'></e-column>
                <e-column field='postedDate' headerText='Reservation#' width='100'></e-column>
                <e-column field='status' headerText='Reservation Date' width='100'></e-column>
              </e-columns>
            </ejs-grid>
            <div style="display: flex; float: right; margin: 15px;">
              <button class="btn btn-outline-primary" [routerLink]="['/home']"
                routerLinkActive="router-link-active">Cancel</button>
              <button class="btn btn-secondary" [routerLink]="['/createMaterialRequest']"
                style="margin: 0px -15px 0px 15px;" routerLinkActive="router-link-active">Create Material
                Request</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>