<div class="container-fluid border border-secondary rounded-sm mt-4 bg-white">
  <div class="row">
    <div class="col-sm-12 pt-3">
      <h6>Quick Links</h6>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 mb-3" *ngFor="let x of quickLinks;">
      <div class="border border-secondary rounded-sm p-4 hoverEffect d-flex" routerLink={{x.url}}>
        <img class="quicklinksImg" src={{x.img}}>
        <span>
          <h6 class="pl-3" style="margin-top: 22px;">{{ x.txt }}</h6>
        </span>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" *ngFor="let x of barcodeBlock">
    <div class="col-4 mb-4 d-flex justify-content-center">
      <div class="row border-barcode px-3" style="border-radius: 35px;">
        <div class="col-sm-6 text-left pt-3" style="font-weight: 500;">
          Item Number: {{x.itemnumber}}
        </div>
        <div class="col-sm-6 text-right pt-3" style="color: #31435b; font-weight: 700;">
          # of Lines: {{x.noofLines}}
        </div>
        <div class="col-sm-12 text-center pt-2" style="font-weight: 500;">
          <figure>
            <img class="mb-2" style="width: 100%;" src={{x.barcodeImage}} alt="Barcode">
            <figcaption>
              {{x.barcodeName}}
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
