<div class="container-fluid border border-secondary rounded-sm mt-4 bg-white">
  <div class="row">
    <div class="col-sm-12 pt-3">
      <h6>Quick Links</h6>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 mb-3" *ngFor="let x of quickLinks;">
      <div class="rounded-sm p-4 hoverEffect d-flex" routerLink={{x.url}}>
        <img class="quicklinksImg" src={{x.img}}>
        <span style="display: flex;
        align-items: center;"> 
          <h6 class="pl-3 " style="font-size: 18px !important;">{{ x.txt }}</h6>
        </span>
      </div>
    </div>
  </div> 
</div>
