.icon.iconSmall>svg {
  margin: 2px;
}

.example-container {
  height: calc(100vh - 63px);
}

.example-sidenav-content {
  height: 100%;
  align-items: center;
  overflow-y: scroll;
  justify-content: center;
}
.example-sidenav {
  width: 80px;
  background:#234471;
  overflow: hidden;
  z-index: 1 !important;
}

.profile-pic {
  height: 60px;
  border-radius: 30px;
  width: 60px;
  border: 1px solid;
  margin: 20px;
}

.tab {
  padding-top: 22px;
  text-align: center;
  height: 70px;
  text-align: center;
}

.tab:hover {
  background-color: #00375E;
}

.tab:focus {
  outline: none;
}

.tab .icons {
  /* max-width: 102px; */
  line-height: 1;
  cursor: pointer;
}

.example-sidenav svg {
  height: 23px;
  width: 20px;
}

.menuItem {
  color: #ABCCFF;
  font-family: 'Roboto Regular';
  font-size: 12px;
}

.myMenu {
  left: 81px !important;
  position: absolute;
  top: 0px;
  min-width: 0px !important;
  z-index: 100;
  background: white;
  width: 245px !important;
}

.myMenu .mat-menu-content {
  padding: 0 !important;
}

.myMenu button:focus {
  outline: 0px dotted;
  outline: none !important;
}

.mat-drawer .mat-drawer-side {
  z-index: 1 !important;
}