<div class="" *ngIf="data.numberOfInput == 'one'">
  <div class="form-group text-center">
    <div class="image-upload">
        <label for="file-input" (click)="popUpOpen()">
            <img src="https://gepmtstorage.blob.core.windows.net/smart2ux/Demo/inv-demo-blob/dist/assets/images/fileIcon.png"/>
        </label><br>
        <button type="button"  class="btn btn-primary btnAddfiles" (click)="rfidpopup()">Add Files</button>
        <input id="file-input" type=""/>
    </div>
  </div>

</div>

<div class="form-group text-center" *ngIf="data.numberOfInput == 'three'">
  <a  class="action-block-cont">
    <span class="action-block-cont-icon">
      <div class="form-group text-center">
        <div class="image-upload">
          <label for="file-input" >
            <img src="https://gepmtstorage.blob.core.windows.net/smart2ux/Demo/inv-demo-blob/dist/assets/images/POupload.png">
          </label>
          <input id="file-input" type="file" (change)="upload()" />
        </div>
      </div>
    </span>
    <span class="action-block-cont-lbl">File Upload</span>
  </a>
  <a href="" class="action-block-cont">
    <span class="action-block-cont-icon">
      <img src="https://gepmtstorage.blob.core.windows.net/smart2ux/Demo/inv-demo-blob/dist/assets/images/POnotes.png" alt="">
    </span>
    <span class="action-block-cont-lbl">Notes</span>
  </a>
  <a href="" class="action-block-cont">
    <span class="action-block-cont-icon">
      <img src="https://gepmtstorage.blob.core.windows.net/smart2ux/Demo/inv-demo-blob/dist/assets/images/POExternalLink.png" alt="">
    </span>
    <span class="action-block-cont-lbl">External Link</span>
  </a>
</div>

<div class="form-group text-center">

</div>
<div #table></div>
<script>
  var ele = document.getElementById('file-input');
  if(ele) {
      upload()
   }   
          </script>
