.image-upload {
  input {
    display: none;
  }

  img {
    width: 40px;
    cursor: pointer;
  }
}


.btnAddfiles {
  background-color: #00838F;
  color: #fff;
  padding: 5px 20px;
  border-color: #00838F;
  border-radius: 5px;
}

.action-block-cont {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  width: 190px;
  padding: 48px;
  display: inline-block;
  text-align: center;
  height: 168px;
  margin: 0 8px;
  position: relative;
  border-radius: 2px;
}

.action-block-cont-icon {
  display: block;
  height: 68px;
  img{
    width: 50px;
  }
}

.action-block-cont-lbl {
  position: absolute;
  width: 100%;
  padding: 10px;
  left: 0;
  bottom: 0;
  line-height: 16px;
  height: 52px;
}
