<div class="mx-auto d-block">
    <div class="modal-header">
    <div class="col-sm-12 text-right">
        <h4 class="my-1" (click)="successOk()" style="cursor: pointer;" title="Close">
            <i class="fas fa-times"></i>
        </h4>
    </div>
    </div>
    <div class="modal-body text-center pt-3" style="height: 400px; overflow-y: scroll;">
    <div class="table-responsive-sm">
        <table class="table table-striped">
        <thead>
            <tr>
            <th style="   text-align: left">RFID Tag</th>
            <th style="   text-align: left">Name</th>
            <!-- <th>number</th> -->
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let x of dataForRfid">
            <td style="   text-align: left">{{x.id}}</td>
            <!-- <td>{{x.name}}</td> -->
            <td style="   text-align: left">{{x.des}}</td>
            </tr>
        </tbody>
        </table>
    </div>
    </div>
    
    <div class="modal-footer">
    <button class="btn btn-primary text-uppercase rounded-0 popupbutton" (click)="successOk()" title="OK">Create Package</button>
    <button class="btn btn-primary text-uppercase rounded-0 popupbutton" (click)="successOk()" title="OK">Create Receipt</button>
    </div>
</div>
