.border-secondary {
    border-color: #d6d6d6!important;
}

.e-filtermenudiv .e-icons .e-icon-filter{
    font-display: none !important;
}

.e-grouped{
    display: none;
}

.image {
    height: 55px;
    width: 55px;
}

.cancel{
    margin: 1rem;
    border: 1px solid gainsboro;
    color: blue;
    padding: 0px 1rem;
    font-size: 16px;
    border-radius: .5rem;
    background: white;
    font-weight: 500;
}

.submit{
    margin: 1rem;
    border: 1px solid gainsboro;
    color: white;
    padding: 0px 1rem;
    font-size: 16px;
    border-radius: .5rem;
    background: gray;
    font-weight: 500;
}

button:focus{
    outline: none;
}