$secondary-color : #676767de;
$primary-color: #007bff;

.text-center-cl {
  text-align: center;
}

th {
  font-size: 0.8571rem;
}

td {
  font-size: 14px
}

.bg-white {
  background-color: white !important;
}

.rv {
  padding-left: 20px;
  background-color: red;
}

.cr {
  background-color: green;
  margin-left: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.widgetTable {
  border-bottom: 1px solid #6767672e;

  th {
    font-weight: normal;
    color: $secondary-color;
  }

  td {
    padding: 0.5rem 0.75rem 0rem 0.75rem;
    font-weight: 500;
  }

  td:nth-child(2) {
    color: $primary-color;
  }

  .input-small {
    width: 60px;
    border: 1px solid;
    padding-right: 3px;
  }

  .input-medium {
    width: 120px;
    border: 1px solid;
    padding-right: 3px;
  }

  .input-large {
    width: 200px;
    border: 1px solid;
    padding-right: 3px;
  }

  .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
    cursor: pointer;
    border: 1px solid #d6d6d6 !important;
    border-radius: 5px;
    background-color: #fff;
  }

  .mat-form-field-infix {
    padding: 0 0 .4375em 0;
    font-weight: 500;
    border-top: 0em solid transparent;
  }

  .mat-form-field-underline {
    background-color: rgba(0, 0, 0, 0);
  }

  .mat-form-field-wrapper {
    padding-bottom: 0.5em;
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #F8F9FC;
}

// 

.switch-left-right .switch-label {
  overflow: hidden;
}

.switch-left-right .switch-label:before,
.switch-left-right .switch-label:after {
  width: 20px;
  height: 20px;
  top: 4px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 11px 0 0 0;
  text-indent: -12px;
  border-radius: 20px;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.1);
}

.switch-left-right .switch-label:before {
  background: #eceeef;
  text-align: left;
  padding-left: 80px;
}

.switch-left-right .switch-label:after {
  text-align: left;
  text-indent: 9px;
  background: #FF7F50;
  left: -100px;
  opacity: 1;
  width: 100%;
}

.switch-left-right .switch-input:checked~.switch-label:before {
  opacity: 1;
  left: 100px;
}

.switch-left-right .switch-input:checked~.switch-label:after {
  left: 0;
}

.switch-left-right .switch-input:checked~.switch-label {
  background: inherit;
}

.switch {
  position: relative;
  display: block;
  vertical-align: top;
  width: 60px;
  height: 30px;
  padding: 3px;
  margin: 0 10px 10px 0;
  // background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
  // background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
  border-radius: 18px;
  // box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  box-sizing: content-box;
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  box-sizing: content-box;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 11px;
  text-transform: uppercase;
  background: #AAAAAA;
  color: #FFFFFF;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  box-sizing: content-box;
}

.switch-label:before,
.switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  box-sizing: content-box;
}

.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #FFFFFF;
}

.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: #FFFFFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.switch-input:checked~.switch-label {
  background: #24A148;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
}

.switch-input:checked~.switch-label:before {
  opacity: 0;
}

.switch-input:checked~.switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 28px;
  height: 28px;
  background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
  border-radius: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
  background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}

.switch-input:checked~.switch-handle {
  left: 34px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Transition
========================== */
.switch-label,
.switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}
