<div class="container-fluid border border-secondary rounded-sm mt-4 bg-white" style="margin-top: 12px !important;">
  <div class="row">
    <div class="col-sm-12 pt-3">
      <div class="row icons-head">
        <div class="icons-container">
          <i class="fa fa-repeat"></i>
          <i class="fa fa-undo"></i>
          <i class="fa fa-expand"></i>
          <i class="fa fa-camera"></i>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="row img-container">
    <img src="../../assets/images/packingSlip.png" alt="Packing Slip">
  </div>
</div>