<div class="container-fluid rounded-sm bg-white" style="margin-top: 20px;">
  <div style="margin-top: -17px;">
    <mat-tab-group [selectedIndex]='selectedTab' (selectedIndexChange)='tabSelection($event)'>
      <mat-tab *ngFor="let tab of tabData" [label]="tab">
      </mat-tab>
    </mat-tab-group>

    <ng-container #tabContainer></ng-container>

    <div class="row" *ngIf="data.haveButton">
      <div class="col-sm-12 text-right mb-5">
        <button type="button" class="action-buttons btn btn-link">Cancel</button>
        <button type="button" class="action-buttons btn bg-white text-primary border-secondary">Save</button>
        <button type="button" [ngClass]="btnFinalize" [disabled]="isDisabled">Finalize</button>
      </div>
    </div>
  </div>
</div>
