.mat-tab-label {
  padding: 0 20px !important;
  min-width: 30px !important;
  width: auto !important;
}

.mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #3D5AFE;
}

.action-buttons {
  padding: 5px 30px;
}

.border-secondary {
  border-color: #d6d6d6 !important;
}

.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
  background-color: #FFFFFF;
}
