<div class="container-fluid rounded-sm bg-white" style="margin-top: 20px;">
  <div style="margin-top: -17px;">
    <mat-tab-group [selectedIndex]='selectedTab' (selectedIndexChange)='tabSelection($event)'>
      <mat-tab *ngFor="let tab of tabData" [label]="tab">
      </mat-tab>
    </mat-tab-group>

    <ng-container #tabContainer></ng-container>

    <!-- Footer Buttons For Goods Issue -->
    <div class="row" *ngIf="data.haveButton">
      <div class="col-sm-12 text-right" style="margin: 25px 0px 25px -10px;">
        <button type="button" class="action-buttons btn btn-link">Cancel</button>
        <button type="button" class="action-buttons btn bg-white text-primary border-secondary">Save</button>
        <button type="button" [ngClass]="btnFinalize" [disabled]="isDisabled"
          (click)="gotoHome()">Finalize</button>
      </div>
    </div>

    <!-- Footer Buttons For Create Material Request Form -->
    <div class="row" *ngIf="data.createMaterialRequestFormButton">
      <div class="col-sm-12 text-right" style="margin: 25px 0px 25px -10px;">
        <button type="button" class="action-buttons btn bg-white text-primary border-secondary">Save</button>
        <button type="button" [ngClass]="btnFinalize" [disabled]="isDisabled"
          (click)="gotoHome()">Finalize</button>
      </div>
    </div>

    <!-- Footer Buttons For Manage Goods Issue Pickist -->
    <div class="row" *ngIf="data.closeBtn">
      <div class="col-sm-12 text-right" style="margin: 25px 0px 25px -10px;">
        <button type="button" class="btn btn-primary">Close</button>
      </div>
    </div>
  </div>
</div>