<div style=" margin-bottom: 10px; box-shadow: 0px 0px 25px -13px rgba(179,177,179,1);">
    <div style="width: 100%; height: 35px; background-color: bisque;">
        <span>{{headerData.name}}</span>
        <span (click)="headerClick()" style="float: right;"> <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="24" height="24"
            viewBox="0 0 172 172"
            style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#666666"><path d="M7.16667,28.66667l78.83333,131.1556l78.83333,-131.1556z"></path></g></g></svg>  
            </span>
    </div>
    <div style="width: 100%;">
        <ng-container #trycomponent></ng-container>      
    </div>
</div>

