<div style="background-color: white; margin-bottom: 20px; box-shadow: 0px 0px 5px 2px lightgrey; border-radius: 2px;
overflow: hidden;">
    <div style="width: 100%; height: auto; padding: 16px" *ngIf="headerData.name != ''">
        <span style="font-weight: 500;">{{headerData.name}}</span>
        <span *ngIf="headerData.collapsible" (click)="headerClick()" [ngClass]="{'active': togal}" style="float: right; position: relative; transition: transform 300ms; "> 
            <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: -5px;" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="8" viewBox="0 0 14 8"><defs><style>.a,.b{fill:none;}.a{clip-rule:evenodd;}.c{clip-path:url(#a);}.d{clip-path:url(#b);}</style><clipPath id="a"><path class="a" d="M23-20l-7,8L9-20Z"/></clipPath><clipPath id="b"><path class="b" d="M0,0H32V-32H0Z"/></clipPath></defs><g class="c" transform="translate(-9 20)"><g class="d"><path d="M4-25H28V-7H4Z"/></g></g></svg> 
        </span>
        <span class="float-right" *ngIf="headerData.popup">
            <a (click)="openPopup()" style="cursor: pointer;">
                <img style="width: 15px; margin-right: 15px;" src="https://gepmtstorage.blob.core.windows.net/smart2ux/Demo/inv-demo-blob/dist/assets/images/addPopup.png" alt="Add">
            </a>
        </span>
        <span class="float-right" style="font-weight: 500;"  [ngClass]="headerData.classes" *ngIf="!headerData.collapsible && headerData.status != ''">
            {{headerData.status}}
        </span>
        <span style="float: right;    margin: 0 16px;" (click)="barcodePopUp()" *ngIf="headerData.name=='Line Details' && showBarCode ">
      
            <a class="barcodeIcon"  >
                <svg id="barcode" xmlns="http://www.w3.org/2000/svg" width="18.513" height="14.81" viewBox="0 0 18.513 14.81">
                  <g id="Group_3168" data-name="Group 3168">
                    <g id="Group_3167" data-name="Group 3167">
                      <path id="Path_208" data-name="Path 208" d="M3.085,48H.617A.617.617,0,0,0,0,48.617v2.468a.617.617,0,0,0,1.234,0V49.234H3.085a.617.617,0,0,0,0-1.234Z" transform="translate(0 -48)" fill="#6f7d8e"/>
                    </g>
                  </g>
                  <g id="Group_3170" data-name="Group 3170" transform="translate(14.81 11.108)">
                    <g id="Group_3169" data-name="Group 3169">
                      <path id="Path_209" data-name="Path 209" d="M387.085,336a.617.617,0,0,0-.617.617v1.851h-1.851a.617.617,0,1,0,0,1.234h2.468a.617.617,0,0,0,.617-.617v-2.468A.617.617,0,0,0,387.085,336Z" transform="translate(-384 -336)" fill="#6f7d8e"/>
                    </g>
                  </g>
                  <g id="Group_3172" data-name="Group 3172" transform="translate(14.81)">
                    <g id="Group_3171" data-name="Group 3171">
                      <path id="Path_210" data-name="Path 210" d="M387.085,48h-2.468a.617.617,0,1,0,0,1.234h1.851v1.851a.617.617,0,0,0,1.234,0V48.617A.617.617,0,0,0,387.085,48Z" transform="translate(-384 -48)" fill="#6f7d8e"/>
                    </g>
                  </g>
                  <g id="Group_3174" data-name="Group 3174" transform="translate(0 11.108)">
                    <g id="Group_3173" data-name="Group 3173">
                      <path id="Path_211" data-name="Path 211" d="M3.085,338.468H1.234v-1.851a.617.617,0,0,0-1.234,0v2.468a.617.617,0,0,0,.617.617H3.085a.617.617,0,0,0,0-1.234Z" transform="translate(0 -336)" fill="#6f7d8e"/>
                    </g>
                  </g>
                  <g id="Group_3176" data-name="Group 3176" transform="translate(2.468 2.468)">
                    <g id="Group_3175" data-name="Group 3175">
                      <rect id="Rectangle_112" data-name="Rectangle 112" width="1.234" height="9.873" fill="#6f7d8e"/>
                    </g>
                  </g>
                  <g id="Group_3178" data-name="Group 3178" transform="translate(4.937 2.468)">
                    <g id="Group_3177" data-name="Group 3177">
                      <rect id="Rectangle_113" data-name="Rectangle 113" width="1.234" height="7.405" fill="#6f7d8e"/>
                    </g>
                  </g>
                  <g id="Group_3180" data-name="Group 3180" transform="translate(7.405 2.468)">
                    <g id="Group_3179" data-name="Group 3179">
                      <rect id="Rectangle_114" data-name="Rectangle 114" width="1.234" height="7.405" fill="#6f7d8e"/>
                    </g>
                  </g>
                  <g id="Group_3182" data-name="Group 3182" transform="translate(9.873 2.468)">
                    <g id="Group_3181" data-name="Group 3181">
                      <rect id="Rectangle_115" data-name="Rectangle 115" width="1.234" height="9.873" fill="#6f7d8e"/>
                    </g>
                  </g>
                  <g id="Group_3184" data-name="Group 3184" transform="translate(12.342 2.468)">
                    <g id="Group_3183" data-name="Group 3183">
                      <rect id="Rectangle_116" data-name="Rectangle 116" width="1.234" height="7.405" fill="#6f7d8e"/>
                    </g>
                  </g>
                  <g id="Group_3186" data-name="Group 3186" transform="translate(14.81 2.468)">
                    <g id="Group_3185" data-name="Group 3185">
                      <rect id="Rectangle_117" data-name="Rectangle 117" width="1.234" height="9.873" fill="#6f7d8e"/>
                    </g>
                  </g>
                  <g id="Group_3188" data-name="Group 3188" transform="translate(4.937 11.108)">
                    <g id="Group_3187" data-name="Group 3187">
                      <rect id="Rectangle_118" data-name="Rectangle 118" width="1.234" height="1.234" fill="#6f7d8e"/>
                    </g>
                  </g>
                  <g id="Group_3190" data-name="Group 3190" transform="translate(7.405 11.108)">
                    <g id="Group_3189" data-name="Group 3189">
                      <rect id="Rectangle_119" data-name="Rectangle 119" width="1.234" height="1.234" fill="#6f7d8e"/>
                    </g>
                  </g>
                  <g id="Group_3192" data-name="Group 3192" transform="translate(12.342 11.108)">
                    <g id="Group_3191" data-name="Group 3191">
                      <rect id="Rectangle_120" data-name="Rectangle 120" width="1.234" height="1.234" fill="#6f7d8e"/>
                    </g>
                  </g>
                </svg>                  
              </a>
        </span>

    </div>
    <div style="width: 100%;">
        <ng-container #trycomponent></ng-container>      
    </div>
</div>

