<div class="purcesDetais">
  <div>
    <ul class="breadcrumb">
      <li><a href="#">Enter Package</a></li>
      <li><a href="#">Container Details</a></li>
    </ul>
  </div>
  <Form-widget [config]='widgetData'></Form-widget>
</div>
<footer class="poFooter bg-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-white text-uppercase rounded-0">
          Print Document
        </button>
      </div>
      <div class="col-sm-5 text-right">
        <button class="btn btn-white text-uppercase rounded-0">
          Print RFID Tags
        </button>
        <button class="btn btn-white text-uppercase shadow rounded-0">
          Print Barcode
        </button>
        <button class="btn btn-primary text-white text-uppercase shadow rounded-0" (click)="isFinalizeClick()">
          Finalize
        </button>
      </div>
    </div>
  </div>
</footer>