<div class="purcesDetais" style="margin-bottom: 40px;">
  <div>
    <ul class="breadcrumb">
      <li><a href="#">Enter Package</a></li>
      <li><a href="#">Container Details</a></li>
    </ul>
  </div>
  <Form-widget [config]='widgetData'></Form-widget>
</div>
<footer class="poFooter bg-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <button style="color: white;" class="btn btn-primary btn-white text-uppercase shadow rounded-0">
          Print Document
        </button>
      </div>
      <div class="col-sm-5 text-right">
        <button (click)="printRfid()" style="color: white;" class="btn btn-primary btn-white text-uppercase shadow rounded-0">
          Print RFID Tags
        </button>
        <button style="color: white;" class="btn btn-primary btn-white text-uppercase shadow rounded-0">
          Print Barcode
        </button>
        <a routerLink='/home'>  <button style="color: white;"
           class="btn btn-primary btn-white text-uppercase shadow rounded-0">
          FINALIZE
          </button>
        </a>
      </div>
    </div>
  </div>
</footer>
<!-- Barcode-Rfid -->
<div id="print-section-rfid" style="display: none;">
  <div class="row justify-content-center">
    <div class="col-4 mb-4 d-flex justify-content-center">
      <div class="row border-barcode px-3" style="border-radius: 35px;">
        <div class="col-sm-6 text-left pt-3" style="font-weight: 500;">
          Container:&nbsp;C44532
        </div>
        <div class="col-sm-6 text-right pt-3" style="color: #31435b; font-weight: 700;">
          # of Lines:&nbsp;3
        </div>
        <div class="col-sm-12 text-left pt-2" style="font-weight: 500;">
          <figure>
            <img class="mb-2" style="width: 100%;" src="https://gepmtstorage.blob.core.windows.net/smart2ux/Demo/inv-demo-blob/dist/assets/images/barcode5.png">
            <figcaption>
              Item Numbers:<br>
              443485 | 558492 | 332958
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
  
</div>
