<div class="dropdown scd-dropdown" *ngIf="config">
  <ng-container *ngIf="config.type == 'multi-select'">
    <button class="btn" type="button" id="mainDropdown" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false" [disabled]="config.disabled">
      {{ config.filterName }}
      <img src="../../assets/images/dropdownBlack.png" alt="">
    </button>
    <ng-container *ngIf="config.options">
      <div class="dropdown-menu" aria-labelledby="mainDropdown">
        <input *ngIf="config.search" type="text" name="search" placeholder="Search" [(ngModel)]="searchTerm">
        <div class="dropdown-item" *ngFor="let option of config.options | filter:searchTerm">
          <label (click)="stopClosing($event)">{{ option.name }}
            <input type="checkbox" [checked]="option.selected" (change)="option.selected = !option.selected">
            <span class="checkmark"></span>
          </label>
          <i class="fa fa-caret-right" *ngIf="option.values" type="button" aria-hidden="true" data-toggle="collapse"
            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></i>
          <div class="collapse show" id="collapseExample">
            <label (click)="stopClosing($event)"
              *ngFor="let value of option.values | filter:searchTerm">{{ value.name }}
              <input type="checkbox" [checked]="value.selected" (change)="value.selected = !value.selected" />
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="config.type == 'toggle-button'">
    <input type="checkbox" [checked]="config.selected" (change)="value.selected = !value.selected" data-toggle="toggle"
      data-height="38" [attr.data-width]="config.dataWidth" [attr.data-on]="config.filterName"
      [attr.data-off]="config.filterName" data-size="sm" data-onstyle="outline-primary" [disabled]="config.disabled">
  </ng-container>
  <ng-container *ngIf="config.type == 'single-select'">
    <button class="btn" type="button" [disabled]="config.disabled" id="singleSelectButton"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ config.filterName }}
      <img src="../../assets/images/dropdownBlack.png" alt="">
    </button>
    <div class="dropdown-menu" aria-labelledby="singleSelectButton">
      <input *ngIf="config.search" type="text" name="search" placeholder="Search" [(ngModel)]="searchTerm">
      <a class="dropdown-item" *ngFor="let option of config.options | filter:searchTerm">{{ option.name }}</a>
    </div>
  </ng-container>
</div>