.container-fluid {
    margin-top: 20px;
    padding-top: 24px;
}

.marginBtm40{
    margin-bottom: 40px;
}

.border-secondary {
    border-color: #d6d6d6 !important;
}

.mat-tab-label {
    padding: 0 20px !important;
    min-width: 30px !important;
    width: auto !important;
}

.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #3D5AFE;
}

.table thead th {
    font-weight: 100;
}

.table td, .table th {
    font-weight: 500;
}

.checkbox-container {
    position: relative;
    margin-bottom: 16px;
    cursor: pointer;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid gainsboro;
}

.checkbox-container:hover input~.checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 7px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.slip-status {
    font: status-bar;
    width: max-content;
    border-radius: 15px;
    padding: 3px 7px;
}

.slip-main-col:hover {
    text-shadow: 1px 1px 0 #d6d6d6;
}