<div class="successpopup">
  <div class="modal-header bg-success">
    <div class="col-sm-12 mx-auto d-block py-1 text-white text-center">
      <img class="mx-auto d-block" style="width: 60px;" src="../../assets/images/success-messag.png" alt="Success">
      <h4 class="mt-3">Success</h4>
    </div>
  </div>
  <div class="modal-body text-center">
    <p style="margin-top: 30px;font-size: 1.3vw;">
      {{name}}
      ​</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-white text-uppercase rounded-0 popupbutton" (click)="successOk()">OK</button>
  </div>
</div>