<div class="purcesDetais mb-5">
  <div class="row">
    <div class="col-sm-6">
      <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">PO Details</a></li>
        <li>Details</li>
      </ul>
    </div>
    <div class="col-sm-6 text-right">
      <h5>Total<br>USD 59,106.66</h5>
    </div>
  </div>
  <Form-widget [config]='widgetData'></Form-widget>
</div>
<footer class="poFooter bg-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-white text-uppercase rounded-0">
          Print Preview
        </button>
      </div>
      <div class="col-sm-5 text-right">
        <button class="btn btn-white text-uppercase rounded-0">
          Cancel
        </button>
        <a routerLink='/poGoodsReceipt'><button class="btn btn-white text-uppercase shadow rounded-0">
        Create Receipt
        </button></a>
      </div>
    </div>
  </div>
</footer>
