.cancel {
    margin: 1rem;
    border: 1px solid gainsboro;
    color: blue;
    padding: 0px 1rem;
    font-size: 16px;
    border-radius: .5rem;
    background: white;
    font-weight: 500;
}

.submit {
    margin: 1rem;
    border: 1px solid gainsboro;
    color: white;
    padding: 0px 1rem;
    font-size: 16px;
    border-radius: .5rem;
    background: gray;
    font-weight: 500;
}

button:focus {
    outline: none;
}

.e-currentitem {
    background: blue !important;
}

.e-check {
    background: blue !important;
}

.mat-tab-label {
    padding: 0 20px !important;
    min-width: 30px !important;
    width: auto !important;
}

.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #3D5AFE;
}

.border-secondary {
    border-color: #d6d6d6 !important;
}

.marginBtm40 {
    margin-bottom: 40px;
}