

<div style="min-width: 100%; margin-top: 10px;" class="container">
  <div style="min-width: 100%; padding: 0px 20px;" class="container">
    <div class="row">
      <div class="col-9">
        <div>
          <span class="text-primary">Dashboard</span>
        </div>
        <h2>Dashboard</h2>
      </div>
    </div>
    <app-google-maps></app-google-maps>
  </div>
  <div class="control-section">
    <ejs-grid #grid [dataSource]='data' allowPaging='true' allowSorting="true"
      [groupSettings]="groupOptions" [pageSettings]='pageSettings' height="320" (dataBound)='dataBound()'
      (created)='created()' (load)='load()'>
      <e-columns>
        <e-column type='checkbox' [allowFiltering]='false' [allowSorting]='false' width='40'></e-column>
        <e-column field='ItemNumber' headerText='Item Numbar' textAlign='Right' width='100'></e-column>
        <e-column field='ItemName' headerText='Item Name' width='100'></e-column>
        <e-column field='ReservationDate' headerText='Reservation Date' width='100'></e-column>
        <e-column field='ReservationQty' headerText='Reservation Qty' width='100'></e-column>
        <e-column field='IssuedQty' headerText='Issued Qty' width='100'></e-column>
        <e-column field='RemainingQty' headerText='Remaining Qty' width='100'></e-column>
        <e-column field='OnHandQty' headerText='On-Hand Qty' width='100'></e-column>
        <e-column field='UOM' headerText='UOM' width='80'></e-column>
        <e-column field='SLocation' headerText='S. Location' width='100'></e-column>
      </e-columns>
    </ejs-grid>
    
</div>
</div>