<div class="container-fluid border border-secondary rounded-sm bg-white">
  <div class="row">
    <div class="col-sm-12 p-0">
      <div class="row" style="padding: 20px 20px 0px 20px">
        <div class="col-3">
          <h5 style="padding: 0 30px; margin: 15px;">Organization Based View</h5>
        </div>
        <div class="col-9">
          <div class="row" *ngIf="filters">
            <div *ngFor="let filter of filters" [ngStyle]="filter.styles">
              <app-scd-dropdown [config]="filter"></app-scd-dropdown>
            </div>
            <div class="col-12" style="padding: 10px 20px">
              <span *ngFor="let value of filterValues"
                style="float: right; padding: 3px 12px; margin: 5px 10px; font-size: 12px; background: #E9F9F9; color: #3AAEBC; border-radius: 15px;">
                {{ value }} &#10006;
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="control-section">
        <div style="display: flex;width: 100%;">
          <div
            style="width: 75%; border: 5px solid #EBF5FD; border-top: 5px solid #858585; border-left: 5px solid #858585;">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
              <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
                [latitude]="m.lat" [longitude]="m.lng" [iconUrl]="m.iconUrl" [label]="m.label"
                [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
                <agm-info-window>
                  <strong>InfoWindow content</strong>
                </agm-info-window>
              </agm-marker>
              <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'"
                [circleDraggable]="true" [editable]="true">
              </agm-circle>
            </agm-map>
          </div>
          <div style="width: 25%;">
            <div class="google-maps-card google-maps-flex-card">
              <div class="location">
                <p> LOCATIONS </p>
                <h3>19</h3>
              </div>
              <div style="flex-wrap: wrap;">
                <div class="location-details" *ngFor="let locations of locations">
                  <div class="location-details-status" [ngStyle]="{'background-color': locations.color}"></div>
                  <p>
                    <span>{{ locations.name }}: &nbsp;</span>
                    <span [ngStyle]="{'color': locations.color}">
                      {{ locations.value }}
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="google-maps-card">
              <h3>USD 2.3M</h3>
              <p>Inventory Valuation</p>
            </div>
            <div class="google-maps-card">
              <h3>3200 Units</h3>
              <p>Number of Line Items</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>