<div style="min-width: 100%; margin-top: 10px;" class="container purcesDetais">
  <div style="min-width: 100%; padding: 0px 20px;" class="container">
    <div class="row">
      <div class="col-9">
        <div>
          <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Create Transactions</a></li>
            <li><a href="#">Material Request Form</a></li>
          </ul>
        </div>
      </div>
      <div class="col-3" style="margin: auto;">
        <button class="btn btn-light btn-outline-primary"
          style="float: right; min-width: 80px; margin: -10px 0px 20px 0px;">
          <i class="fa fa-print" style="padding-right: 7px;"></i><span class="pl-2">Print</span>
        </button>
      </div>
    </div>
    <Form-widget [config]='widgetData'></Form-widget>
  </div>
</div>