/* You can add global styles to this file, and also import other style files */

@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-balham.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/@syncfusion/ej2/material.css";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'app/goods-issue//goods-issue.component.css';
body {
  font-family: 'Roboto', sans-serif !important;
  overflow-y: hidden;
}
.bg-white{
  background-color: #ffffff;
}
.labels{
  color: #a3a3a3;
  font-size: 14px;
}

.mat-drawer-content {
  background-color: #F3F3F3;
}

select#formControlSelect {
  width: 145px !important;
}

input[type="text"] {
  outline: none;
  border: none;
  border-bottom: 1px solid #676767de;
  border-radius: 0;
}

input[type="text"]:focus {
  outline: none;
  border: none;
  border-bottom: 1.5px solid #0177d6;
  transition: 0.3s ease-in-out;
}

.successpopup .modal {
  top: 20% !important;
}

a, a:not([href]) {
  cursor: pointer;
}

.quicklinksImg{
  width: 70px;
}

.border-barcode{
  border: 1.3px solid #244889;
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.form-control:focus{
  box-shadow: none;
  -webkit-box-shadow : none;
}