.goodsIssuInputs {
    font-weight: 500;
  input {
    width: 100%;
    background: transparent;
    border-width: 0;
    color: #000000;
    font-weight: 500;
  }

  .labels {
    color: #a9a9a9;
    font-size: 0.8em !important;
    font-weight: 500;
    font-size: 0.9em;
  }

  .blocks {
    background-color: #F8F9FA;
    border: 1px solid #d6d6d6;
  }
}
