<div class="purcesDetais" style="margin-bottom: 40px;">
  <div>
    <ul class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Receipt</a></li>
      <li>Details</li>
    </ul>
  </div>
  <Form-widget [config]='asnGrData'></Form-widget>
</div>

<footer class="poFooter bg-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-white text-uppercase rounded-0">
          Print Preview
        </button>
      </div>
      <div class="col-sm-5 text-right">
        <button class="btn btn-white text-uppercase rounded-0">
          Cancel
        </button>
        <button (click)="printDiv('printableArea')"  class="btn btn-primary text-white text-uppercase shadow rounded-0">
          Print Barcode
        </button>
        <button class="btn btn-primary text-white text-uppercase shadow rounded-0">
          Print RFID
        </button>
        <button class="btn btn-primary text-white text-uppercase shadow rounded-0" (click)="onFinalizeClick()">
          Finalize
        </button>
      </div>
    </div>
  </div>
</footer>
<div style="display: none;z-index: 0;" id="printableArea"  >
  <img style="display: block;margin: 24px 40%;" src="../../assets/2063777.jpg">
  <img style="display: block;margin: 24px 40%;" src="../../assets/1010151.jpg">
  <img style="display: block;margin: 24px 40%;" src="../../assets/2030539.jpg">
  <img style="display: block;margin: 24px 40%;" src="../../assets/2044808.jpg">
</div>

<p><span onclick="printPage('externalPage.html');" style="cursor:pointer;text-decoration:underline;color:#0000ff;">Print external page!</span></p>
